{% import '_includes/forms' as forms %}

{{ forms.textField({
    label: 'Manifest Path',
    id: 'manifestPath',
    name: 'manifestPath',
    placeholder: 'dist/manifest.json',
    class: 'code',
    instructions: 'Provide the webroot relative path to manifest.json.',
    value: settings['manifestPath']})
}}

{{ forms.textField({
    label: 'Base URL',
    id: 'baseUrl',
    name: 'baseUrl',
    placeholder: '@web',
    class: 'code',
    instructions: 'Optionally provide a base URL for referenced bundles. (Like `@web`, for example.)',
    value: settings['baseUrl']})
}}
